@model ReadyPayConfigurationModel
@using SmartStore.Web.Framework;
@using ReadySignOn.ReadyPay.Models;
@using ReadySignOn.ReadyPay;


@{
    Layout = "";
}

<div class="plugin-actions">
    <button type="submit" name="save" class="btn btn-warning" value="save">
        <i class="fa fa-check"></i>
        <span>@T("Admin.Common.Save")</span>
    </button>
</div>

<div class="plugin-configuration">
    <div>
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @Html.Raw(@T("Plugins.Payments.ReadyPay.AdminInstruction"))
        </div>
    </div>
    <div>
        <a href="https://www.readysignon.com/readypay" target="_blank">
            <img src="@Url.Content("~/Plugins/ReadySignOn.ReadyPay/Content/icon.png")" alt="Amazon Pay" />
        </a>
    </div>
</div>

@{ Html.RenderAction("StoreScopeConfiguration", "Setting", new { area = "Admin" }); }

@using (Html.BeginForm())
{
<table id="ReadyPayConfigTable" class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.UseSandbox)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.UseSandbox)
            @Html.ValidationMessageFor(model => model.UseSandbox)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.SellerId)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.SellerId)
            @Html.ValidationMessageFor(model => model.SellerId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AccessKey)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.AccessKey)
            @Html.ValidationMessageFor(model => model.AccessKey)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.SecretKey)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.SecretKey, null, new { htmlAttributes = new { autocomplete = "new-password", value = Model.SecretKey } })
            @Html.ValidationMessageFor(model => model.SecretKey)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ClientId)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.ClientId)
            @Html.ValidationMessageFor(model => model.ClientId)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ShowButtonInMiniShoppingCart)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.ShowButtonInMiniShoppingCart)
            @Html.ValidationMessageFor(model => model.ShowButtonInMiniShoppingCart)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ShowInPlaceReadyPay_productbox_add_info)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.ShowInPlaceReadyPay_productbox_add_info)
            @Html.ValidationMessageFor(model => model.ShowInPlaceReadyPay_productbox_add_info)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ShowInPlaceReadyPay_productdetails_add_info)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.ShowInPlaceReadyPay_productdetails_add_info)
            @Html.ValidationMessageFor(model => model.ShowInPlaceReadyPay_productdetails_add_info)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ShowInPlaceReadyPay_offcanvas_cart_summary)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.ShowInPlaceReadyPay_offcanvas_cart_summary)
            @Html.ValidationMessageFor(model => model.ShowInPlaceReadyPay_offcanvas_cart_summary)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ShowInPlaceReadyPay_order_summary_totals_after)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.ShowInPlaceReadyPay_order_summary_totals_after)
            @Html.ValidationMessageFor(model => model.ShowInPlaceReadyPay_order_summary_totals_after)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ShowInPlaceReadyPay_orderdetails_page_aftertotal)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.ShowInPlaceReadyPay_orderdetails_page_aftertotal)
            @Html.ValidationMessageFor(model => model.ShowInPlaceReadyPay_orderdetails_page_aftertotal)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ShowInPlaceReadyPay_invoice_aftertotal)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.ShowInPlaceReadyPay_invoice_aftertotal)
            @Html.ValidationMessageFor(model => model.ShowInPlaceReadyPay_invoice_aftertotal)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.ConfirmedShipment)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.ConfirmedShipment)
            @Html.ValidationMessageFor(model => model.ConfirmedShipment)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.NoShipmentAddress)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.NoShipmentAddress)
            @Html.ValidationMessageFor(model => model.NoShipmentAddress)
        </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.CallbackTimeout)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.CallbackTimeout)
            @Html.ValidationMessageFor(model => model.CallbackTimeout)
        </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.DefaultShippingPrice)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.DefaultShippingPrice, null, new { postfix = Model.PrimaryStoreCurrencyCode })
            @Html.ValidationMessageFor(model => model.DefaultShippingPrice)
        </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AdditionalFee)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.AdditionalFee, null, new { postfix = Model.PrimaryStoreCurrencyCode })
            @Html.ValidationMessageFor(model => model.AdditionalFee)
        </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AdditionalFeePercentage)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.AdditionalFeePercentage)
            @Html.ValidationMessageFor(model => model.AdditionalFeePercentage)
        </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.AddOrderNotes)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.AddOrderNotes)
            @Html.ValidationMessageFor(model => model.AddOrderNotes)
        </td>
    </tr>

    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.InformCustomerAboutErrors)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.InformCustomerAboutErrors,
                Html.CheckBoxFor(model => model.InformCustomerAboutErrors, new { data_toggler_for = "#InformCustomerAddErrorsContainer" }))
            @Html.ValidationMessageFor(model => model.InformCustomerAboutErrors)
        </td>
    </tr>
    <tr id="InformCustomerAddErrorsContainer">
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.InformCustomerAddErrors)
        </td>
        <td class="adminData">
            @Html.SettingEditorFor(model => model.InformCustomerAddErrors)
            @Html.ValidationMessageFor(model => model.InformCustomerAddErrors)
        </td>
    </tr>
</table>
}
