@model ReadySignOn.ReadyPay.Models.ReadyPayPaymentInfoModel
<form id="idReadyPayForm" action="Plugins/ReadySignOn.ReadyPay/ReadyPay/MiniCartReadyPayPosted" enctype="application/x-www-form-urlencoded" method="post">
    <div class="form-inputs">
        <div class="input-column">
            <img src="~/Plugins/ReadySignOn.ReadyPay/Content/ApplePayGooglePayCombinedLogo.jpg" style="width:100px" />
            <input type="hidden" name="Sentinel" value="@(Model.Sentinel)" />
            <input type="hidden" name="AppData" value="@(Model.AppData)" />
            <input type="hidden" name="CartSubTotal" value="@(Model.CartSubTotal)" />
            <input type="hidden" name="TaxTotal" value="@(Model.TaxTotal)" />
            <input id="idReadyTicket" type="text" pattern="\d*" name="ReadyTicket" placeholder="enter ReadyTicket here" style="vertical-align:middle;">
            <input id="idBtnReadyPay" type="image" name="ReayPayButton" style="vertical-align:middle;background-color:green;border-width:2px;width:50px"
                   src="@Url.Content(Model.SubmitButtonImageUrl)" onclick="return validate_and_update()" value="READYpay">
        </div>

        <div id="idAuthStatus" class="input-column" align="center">
            <img id="idWaitingImage" src="@Url.Content(Model.LoaderImageUrl)" style="visibility:hidden;width:30px" />
        </div>
    </div>
</form>

<script>
    // ----------------
    // Data
    // ----------------

    // divSubTotal :: Div
    // div containing subtotal price
    var divSubTotal = $('div.offcanvas-cart-footer div.sub-total.price');

    // rpSubTotal :: Input
    // hidden Input containing subtotal price
    var rpSubTotal = $('#idReadyPayForm input[name="CartSubTotal"]');

    // ----------------
    // Function
    // ----------------

    // >>> "$5,988.30 excl tax" => 5988.3000
    // parseSubtotal :: String -> Float
    var parseSubTotal = (str) => {
        // nonNumeric :: RegExp
        // match: "0 - 9", "."
        const nonNumeric = /[^\d\.]+/g;
        return Number(str.replace(nonNumeric, ''));
    }

    // ----------------
    // Main
    // ----------------

    // update `rpSubTotal` each time `divSubTotal` changes
    divSubTotal.on('DOMSubtreeModified', (e) => {
        rpSubTotal.val((parseSubTotal($(e.target).text())));

    });

    var validate_and_update = function () { };  // Will be re-assigned laster. JS hoisting may take care of this automatically though.

    $(function () {
        $("#idReadyTicket").keypress(function (event) {
            if (event.which == 13)  {   // Enter key pressed.
                event.preventDefault ? event.preventDefault() : (event.returnValue = false);    // Prevent re-submit
                $("#idBtnReadyPay").click();
            }
        });

        validate_and_update = function validateAndUpdate() {
            if ($("#idReadyTicket").val() == '') {
                // No ticket entered.
                $("#idReadyTicket").html('<span class="alert alert-error" style="color: red">Please fill in ReadyTicket.</span>');
                return false;
            }
            else {
                doSubmit();

                return true;
            }
        }

        function doSubmit() {

            $("#idAuthStatus").show();
            //your client side validation here
            valid = true;
            if (valid) { // all client side validation passed, ReadyTicket is valid...
                $("#idBtnReadyPay").hide();
                document.getElementById('idWaitingImage').style.visibility = 'visible';
                $('#idWaitingImage').show();
                $("#idReadyPayForm").submit();
                return true;
            }
            else {  // Fail client side validation
                $(this).removeAttr('disabled'); // Renable the Ready button
                $("#idAuthStatus").hide();      // Hide the status and the loader image.
                return false;
            }
        }
    })

</script>

