@model ReadySignOn.ReadyPay.Models.ReadyPayPaymentInfoModel
@{
    Layout = "";
}

<div>
    <img src="~/Plugins/ReadySignOn.ReadyPay/Content/ApplePayGooglePayCombinedLogo.jpg" style="width:100px" />
    <style>
        #idReadyTicket {
            vertical-align: middle;
            outline: none;
        }

            #idReadyTicket:required:invalid {
                border: 1px black dashed;
            }
    </style>

    <input id="idReadyTicket" type="text" pattern="\d*" name="ReadyTicket" placeholder="enter ReadyTicket here">
    <input id="idBtnReadyPay" type="image" name="ReayPayButton" src="@Url.Content(Model.SubmitButtonImageUrl)" style="vertical-align:middle;background-color:green;border-width:2px;width:50px">

</div>

<script>

    // ----------------
    // Namespace
    // ----------------

    // expose `RS` on `window` object.
    // window.RS :: Object
    var RS = RS || {};

    // on `Document.ready()`, update model, make request, handle response
    $(function () {

        // ----------------
        // Data
        // ----------------

        RS.model = {
            "Sentinel": "@Model.Sentinel",
            "ReadyTicket": $('#idReadyTicket').val(),
            "CurrentPageIsBasket": "@Model.CurrentPageIsBasket",
            "CartSubTotal": @Model.CartSubTotal,
            "TaxTotal": @Model.TaxTotal,
            "AppData": "@Model.AppData",
            "SubmitButtonImageUrl": "@Model.SubmitButtonImageUrl",
            "LoaderImageUrl": "@Model.LoaderImageUrl"
        };

        // inputReadyTicket :: Input[text]
        // input text field containing the ready ticket
        const inputReadyTicket = $("#idReadyTicket");

        // inputReadyPay :: Input[image]
        // button invoking ReadyPay payment
        const inputReadyPay = $('#idBtnReadyPay');

        // ----------------
        // Function
        // ----------------

        // "$5,988.30 excl tax" >>> 5988.3000
        // parseSubtotal :: String -> Float
        const parseSubTotal = (str) => {
            // nonNumeric :: RegExp
            // match: "0 - 9", "."
            const nonNumeric = /[^\d\.]+/g;
            return Number(str.replace(nonNumeric, ''));
        }

        // ----------------
        // Effect
        // ----------------

        // disable controls, show loader
        const freeze = () => {
            inputReadyTicket.prop("disabled", true);
            inputReadyPay.attr("src", RS.model.LoaderImageUrl);
            inputReadyPay.prop("disabled", true)
        };

        // does the opposite of `freeze`
        const unFreeze = () => {
            inputReadyTicket.prop("disabled", false);
            inputReadyPay.prop("disabled", false)
            inputReadyPay.attr("src", RS.model.SubmitButtonImageUrl);
        };

        // custom validation for inputReadyTicket
        // validateReadyTicket ::  elem -> Bool
        const validateReadyTicket = (elem) => {
            const val = $(elem).val()
            return (val.length > 0 && $.isNumeric(val)) ? true : false
        };

        // disable/enable `inputReadyPay` on validation of `inputReadyTicket`;
        // update `RS.model`
        inputReadyTicket.on("input", (e) => {

            updateModel();

            const el = e.target;

            if (validateReadyTicket(el)) {
                inputReadyPay.prop("disabled", false);
            }
            else {
                inputReadyPay.prop("disabled", true);
            }

        });

        // when `inputReadyPay` is enabled, press "enter"
        // trigger its `click()`
        inputReadyTicket.on("keypress", (e) => {
            if (e.which == 13)  {
                // cancel default: form submit
                e.preventDefault();
                // trigger `inputReadyPay` if it's enabled
                if (! inputReadyPay.prop("disabled")) {
                    inputReadyPay.trigger('click');
                }
            }
        });

        // update `RS.model`
        const updateModel = () => {
            const modelChanged = {
                "ReadyTicket": inputReadyTicket.val()
            };
            RS.model = Object.assign(RS.model, modelChanged);
        };

        // ----------------
        // Main
        // ----------------

        // disable `inputReadyPay` button after page loads
        inputReadyPay.prop("disabled", true)

        // make HTTP request, redirect on success
        inputReadyPay.on('click', (e) => {
            e.preventDefault();
            // make a HTTP request
            $.ajax({
                type: 'POST',
                url: "@Url.Action("MiniCartReadyPayPosted","ReadyPay")",
                headers: {
                    'Content-Type': 'application/json'
                },
                contentType: false,
                processData: false,
                data: JSON.stringify(RS.model),
                beforeSend: freeze,
                200: function (response) {  // We use 200 here instead of success since the backend will return HTTP 204 (no content) in case of error.
                    window.location.href = "@Url.Action("Completed","Checkout", new { area = "" })";
                },
                error: function (response) {
                    console.log("//MiniCartReadyPayPosted() did not return HTTP 200.");
                },
                complete: () => {
                    unFreeze();
                }
            });
        });
    });
</script>

