@model ReadySignOn.ReadyPay.Models.ReadyPayPaymentInfoModel
@{
    Layout = "";
}

@if (Model.CurrentPageIsBasket)
{
    <div id="readypay-checkout" class="my-2 ml-3">
        <a id="readypay-button" href="javascript:void(0)">
            <img alt="" src="@Url.Content(Model.SubmitButtonImageUrl)" />
        </a>
    </div>

    <script>
        $(function () {
            $('#readypay-button').on('click', function (e) {
                e.preventDefault();

                console.log("/// trying to setup ajax call");

                var model = {
                    "Sentinel": "@Model.Sentinel",
                    "ReadyTicket": "1234567",
                    "CurrentPageIsBasket": "@Model.CurrentPageIsBasket",
                    "OrderTotal": @Model.OrderTotal,
                    "ProductId": "@Model.ProductId",
                    "SubmitButtonImageUrl": "@Model.SubmitButtonImageUrl",
                    "LoaderImageUrl": "@Model.LoaderImageUrl"
                };

                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("MiniCartReadyPayPosted","ReadyPay")",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify(model),
                    success: function (response) {
                        if (response.success) {
                            console.log("///Ajax call succeeded.");
                        }
                        else {
                            console.log("///Ajax call failed.");
                            displayNotification(response.message, 'error');
                        }
                    }
                });

                return false;
            });

});
    </script>
}